@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var myModel = Model.FirstChild<CommentsContainer>()?.Children<Comment>().OrderByDescending(x => x.CreateDate);
}
<!-- testmonial_area_start  -->
<div class="testmonial_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="textmonial_active owl-carousel">
                    @foreach (var item in myModel)
                    {
                        <div class="testmonial_wrap">
                            <div class="single_testmonial d-flex align-items-center">
                                <div class="test_thumb">
                                    <img src="@item.CommentPicture.Url()" alt="">
                                </div>
                                <div class="test_content">
                                    <h4>@item.CommentTitle</h4>
                                    <span>@item.CommentSubtitle</span>
                                    <p>@item.CommentDescription</p>
                                </div>
                            </div>
                        </div>
                    }

               
                </div>
            </div>
        </div>

    </div>
</div>
<!-- testmonial_area_end  -->